<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Customer Detail</strong> 
        </div>
        <div class="card-body">
          <form #userForm="ngForm" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Full Name</label>
              <div class="col-md-9">
                <input type="text" name="fullName" [(ngModel)]="customer.fullName" class="form-control" placeholder="Full Name..">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Short Name</label>
              <div class="col-md-9">
                <input type="text" name="shortName" [(ngModel)]="customer.shortName" class="form-control" placeholder="Short Name..">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" >Type</label>
              <div class="col-md-9">
                <input type="text" name="custType" [(ngModel)]="customer.custType" class="form-control" placeholder="Customer Type..">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" >Registration</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="registrationNo" [(ngModel)]="customer.registrationNo" placeholder="Registration No..">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">GSTIN No.</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="GSTINNo" [(ngModel)]="customer.GSTINNo" placeholder="GSTIN No.">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" >Adhar No.</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="adharNo" [(ngModel)]="customer.adharNo" placeholder="Adhar No.">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" >PAN No.</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="PANNo" [(ngModel)]="customer.PANNo" placeholder="PAN No.">
              </div>
            </div>
            <div class="card-footer">
              <button type="button" (click)="saveCustomerPersionDetail()"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
      </form>
        </div>
       
      </div>
     
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Address Detail</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Address</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Address.." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">City</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="City.." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">District</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Country.." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">State</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="State.." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Country</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Country.." autocomplete="email">
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Postal Code</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Postal Code.." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Email</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Email.." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Landline No.</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Land Line No.." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Mobile No.</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Mobile No." autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Alternet No.</label>
              <div class="col-md-9">
                <input type="email" id="hf-email" name="hf-email" class="form-control" placeholder="Alternet No." autocomplete="email">
              </div>
            </div>
           
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="col-sm-14">
    <div class="card">
      <div class="card-header">
        <strong>Contact Persions</strong>
      </div>
      <div class="card-body">
        <div class="row">
         
            <div class="form-group col-sm-3">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group col-sm-3">
              <label for="name">Designation</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group col-sm-3">
              <label for="name">Email</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group col-sm-3">
              <label for="name">Phone No.</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name">
            </div>
         
        </div><!--/.row-->
      </div>
    </div>
  </div><!--/.col-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Customer Contact Persions
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td>Aulus Agmundr</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
