<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Customer Detail</strong> 
        </div>
        <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Customer</label>
              <div class="col-md-9">
                <select class="form-control" name="custId" ngModel (change)="getCustomerDetail($event.target.value)">
                  <option value="">--Select Customer--</option>
                  <option *ngFor="let customer of allCustomerList" value="{{customer.custId}}">{{customer.fullName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Full Name</label>
              <div class="col-md-9">
                <input type="text" name="fullName" value="{{custInfo.fullName}}" ngModel class="form-control" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Buiseness</label>
              <div class="col-md-9">
                <input type="text" name="fullName" value="{{custInfo.professionName}}" ngModel class="form-control" readonly>
              </div>
            </div>
           <div class="form-group row">
              <label class="col-md-3 col-form-label" >Adhar No.</label>
              <div class="col-md-9">
                <input class="form-control" value="{{custInfo.adharNo}}" type="text" name="adharNo" ngModel readonly>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" >PAN No.</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="panNo" value="{{custInfo.panNo}}" ngModel readonly>
              </div>
            </div>
            <div class="card-header">
              <strong>Address Detail</strong>
            </div>
            <div class="card-body">
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Address</label>
                      <div class="col-md-9">
                        <input type="text" name="address" class="form-control" value="{{custInfo.address.address}}" ngModel  readonly >
                      </div>
                    </div>
                 <!--   <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">City</label>
                      <div class="col-md-9">
                        <input type="text" name="city" class="form-control" value="{{custInfo.address.city}}" ngModel readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">District</label>
                      <div class="col-md-9">
                        <input type="text" name="district" class="form-control" value="{{custInfo.address.district}}" ngModel readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">State</label>
                      <div class="col-md-9">
                        <input type="text" name="state" class="form-control" value="{{custInfo.address.state}}" ngModel readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Country</label>
                      <div class="col-md-9">
                        <input type="text" name="country" class="form-control" value="{{custInfo.address.country}}" ngModel readonly>
                      </div>
                    </div>
                   --> 
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Postal Code</label>
                      <div class="col-md-9">
                        <input type="text" name="zipCode" value="{{custInfo.address.zipCode}}" class="form-control" ngModel readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Email</label>
                      <div class="col-md-9">
                        <input type="text" name="email" value="{{custInfo.address.email}}" class="form-control" ngModel readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Mobile No.</label>
                      <div class="col-md-9">
                        <input type="text" name="phoneNo" value="{{custInfo.address.phoneNo}}" class="form-control" ngModel readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Alternet No.</label>
                      <div class="col-md-9">
                        <input type="text" name="altNo" value="{{custInfo.address.altNo}}" class="form-control" ngModel readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Native Place</label>
                      <div class="col-md-9">
                        <input type="text" name="altNo" value="{{custInfo.address.nativePlace}}" class="form-control" ngModel readonly>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Customer Detail</label>
                      <div class="col-md-9">
                        <a [href]="fileUrl" target="_blank" download="customer.pdf">DownloadFile</a>
                     
                      </div>
                    </div>
               
               
            </div><!--/.col-->
        
        </div>
       
      </div>
     
    </div>

  </div><!--/.row-->
  <div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12"> 
           <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i>Witness Persions
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Full Name</th>
                   
                    <th>Address</th>
                    <th>Phone No.</th>
                   
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let custContactPersion of conatactPersionList">
                    <td>{{custContactPersion.fullName}}</td>
                    <td>{{custContactPersion.address.address}}</td>
                    <td>{{custContactPersion.address.phoneNo}}</td>
                  </tr>
                </tbody>
              </table>
             
            </div>
          </div>
         
        </div><!--/.row-->
      
      </div>
    </div>
 
</div>
