<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Fixed Deposite Account Close </strong> 
       
        </div>
        <div class="card-body">
          <form #form="ngForm" class="form-horizontal">
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Account No</label>
              <div class="col-md-9">
                <div class="col-md-9">
                  <input name="fdAccountDtlsId" ngModel  (blur)="getAccountDetail($event.target.value)"  class="form-control" placeholder="FD Account No...." >
                </div>
              </div>
            </div>
        
            <div class="card-header">
              <strong>Account Detail</strong>
            </div>
           
              <div class="card" >
               
                <div class="card-body">
                  <form #form="ngForm" class="form-horizontal">
                    <div class="form-group row">
                      <label for="email-input" class="col-md-3 col-form-label">Customer Name</label>
                      <div class="col-md-9">
                        <input type="text" value="{{fdAccountDtls.custName}}"  class="form-control" readonly>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">FD Amount</label>
                      <div class="col-md-9">
                        <input type="text" value="{{fdAccountDtls.amount}}"  class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hf-email">Iterest</label>
                        <div class="col-md-9">
                          <input type="text" value="{{fdAccountDtls.interest}}"    class="form-control" readonly>
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="hf-email">Iterest Amount</label>
                          <div class="col-md-9">
                            <input type="text" value="{{fdAccountDtls.interestAmt}}" class="form-control" readonly>
                          </div>
                        </div>
                      
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Start Date</label>
                      <div class="col-md-9">
                        <input type="text" value="{{fdAccountDtls.startDate}}" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hf-email">End Date</label>
                        <div class="col-md-9">
                          <input type="text" value="{{fdAccountDtls.endDate}}"  class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Status</label>
                      <div class="col-md-9">
                        <input type="text" value="{{fdAccountDtls.isActive}}" class="form-control" readonly>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="hf-email">Closing Time Iterest</label>
                    <div class="col-md-9">
                      <input type="text" value="{{fdAccountDtls.interest}}"  name="interest" (blur)="calculateItersetAmt()" [(ngModel)]=fdAccountDtls.interest class="form-control" >
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Closing Time Iterest Amount</label>
                      <div class="col-md-9">
                        <input type="text" value="{{fdAccountDtls.interestAmt}}" name="interestAmt" [(ngModel)]=fdAccountDtls.interestAmt class="form-control" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Remark</label>
                      <div class="col-md-9">
                        <input type="text" name="remark" [(ngModel)]=fdAccountDtls.remark  class="form-control" >
                      </div>
                    </div>

                    <div class="card-footer">
                      <button type="button" (click)="closeFD()"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Close</button>
                      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </form>
              </div>
            </div><!--/.col-->
           
      </form>
        </div>
       
      </div>
     
    </div>

  </div><!--/.row-->
 
</div>
