<div class="animated fadeIn">
 
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>FD Accounts</strong> 
           
          </div>
          <div class="card-body">
         
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Customer Names</label>
                <div class="col-md-9">
                    <select class="form-control" name="custId" ngModel (change)="onStatusChange($event.target.value)">
                        <option>--Select Customer--</option>
                        <option *ngFor="let customer of allCustomerList" value="{{customer.custId}}">{{customer.fullName}}</option>
                      </select>
                </div>
              </div>
          
          </div>
         
        </div>
       
      </div>
  
    </div><!--/.row-->
   
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> FD Details
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                 <th>Account No.</th>
                  <th>Amount</th>
                  <th>Interest</th>
                  <th>Paid Interest</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Closing Date</th>
                   <th>Status</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let fdAccount of fdReports">
                
                  <td>{{fdAccount.accountNo}}</td>
                  <td>{{fdAccount.amount}}</td>
                  <td>{{fdAccount.interest}}</td>
                  <td>{{fdAccount.interestAmt}}</td>
                  <td>{{fdAccount.startDate}}</td>
                  <td>{{fdAccount.endDate}}</td>
                  <td>{{fdAccount.closingDate}}</td>
                  <td>{{fdAccount.isActive}}</td>
                
                </tr>
              </tbody>
            </table>
           
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
  