<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Loan Account Detail</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong >Account No:- {{loanDetail.loanAccountNo}}</strong> 
        </div>
        <div class="card-body">
          <form #form="ngForm" class="form-horizontal">
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Customer</label>
              <div class="col-md-9">
                <select class="form-control" name="custId" [(ngModel)]=loanDetail.custId>
                  <option>--Select Customer--</option>
                  <option *ngFor="let customer of allCustomerList" value="{{customer.custId}}">{{customer.fullName}}</option>
                </select>
              </div>
            </div>
        
            <div class="card-header">
              <strong>Create New Account</strong>
            </div>
           
              <div class="card" >
               
                <div class="card-body">
                  
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Principal Amount</label>
                      <div class="col-md-9">
                        <input type="text" name="principalAmount"  [(ngModel)]="loanDetail.principalAmount" class="form-control" placeholder="Enter Principal Amount.." >
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hf-email">Iterest</label>
                        <div class="col-md-9">
                          <input type="text" name="interest" [(ngModel)]="loanDetail.interest" class="form-control" (blur)="calculateItersetAmt()"  placeholder="Enter Interest.." >
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="hf-email">Iterest Amount</label>
                          <div class="col-md-9">
                            <input type="text" name="interestAmt" value="{{loanDetail.interestAmt}}" [(ngModel)]="loanDetail.interestAmt" class="form-control"  readonly>
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-email">Deposite Amount</label>
                            <div class="col-md-9">
                              <input type="text" name="depositeAmt" value="{{loanDetail.depositeAmt}}" [(ngModel)]="loanDetail.depositeAmt" class="form-control"  readonly>
                            </div>
                          </div>
                         
                          <div class="form-group row">
                              <label class="col-md-3 col-form-label" for="hf-email">Processing Fees</label>
                              <div class="col-md-9">
                                <input type="text" name="processingFees" value="{{loanDetail.processingFees}}" [(ngModel)]="loanDetail.processingFees" class="form-control"  readonly>
                              </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="hf-email">Loan Amount</label>
                                <div class="col-md-9">
                                  <input type="text" name="loanAmt" value="{{loanDetail.loanAmt}}" [(ngModel)]="loanDetail.loanAmt" class="form-control"  readonly>
                                </div>
                              </div>
                    
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Loan Start Date</label>
                      <div class="col-md-9">
                        <input class="form-control" id="date-input" type="date" name="loanStartDate" [(ngModel)]="loanDetail.loanStartDate" placeholder="Loan Date">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hf-email">Loan End Date</label>
                        <div class="col-md-9">
                          <input class="form-control" id="date-input" type="date" name="loanEndDate" [(ngModel)]="loanDetail.loanEndDate" placeholder="Loan Date">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="hf-email">Collection Type</label>
                          <div class="col-md-9">
                            <input class="form-control" id="date-input" type="text" readonly name="installMentType" value="{{loanDetail.installMentType}}" [(ngModel)]="loanDetail.installMentType">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-email">Installments</label>
                            <div class="col-md-9">
                              <input class="form-control" id="date-input" type="text" readonly name="installments" value="{{loanDetail.installments}}" [(ngModel)]="loanDetail.installments">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-email">Installment Amount</label>
                            <div class="col-md-9">
                              <input class="form-control" id="date-input" type="text" readonly name="installmentAmount" value="{{loanDetail.installmentAmount}}" [(ngModel)]="loanDetail.installmentAmount">
                            </div>
                        </div>
                  
               
              </div>
            </div><!--/.col-->
            <div class="card-footer">
              <button type="button" (click)="saveLoanDetail()"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
      </form>
        </div>
       
      </div>
     
    </div>

  </div><!--/.row-->
 
</div>
