<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Disburse Loan</strong> 
       </div>
        <div class="card-body">
         <!--
          <div class="form-group row">
              <label class="col-md-3 col-form-label">Customer</label>
              <div class="col-md-9">
                <select class="form-control" name="custId" ngModel (change)="onCustomerChange($event.target.value)">
                  <option>--Select Customer--</option>
                  <option *ngFor="let customer of allCustomerList" value="{{customer.custId}}">{{customer.fullName}}</option>
                </select>
              </div>
            </div>
            -->
            <form #form="ngForm" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Account Number</label>
              <div class="col-md-9">
                <input type="text" name="loanAccNo" ngModel  (blur)="getAccountDetail($event.target.value)"  class="form-control" placeholder="Loan Account No....">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Customer Name</label>
                <div class="col-md-9">
                  <input type="text" name="custFullName" value="{{loanDetail.custFullName}}" ngModel class="form-control" readonly>
                </div>
              </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Principal Amount</label>
              <div class="col-md-9">
                <input type="text" name="loanAmt" value="{{loanDetail.principalAmount}}" ngModel class="form-control" readonly>
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Loan Amount</label>
                <div class="col-md-9">
                  <input type="text" name="principalAmount" value="{{loanDetail.loanAmt}}" ngModel class="form-control" readonly>
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="email-input">Disburse Amount</label>
                  <div class="col-md-9">
                    <input type="text" name="disburseAmt" value="{{disburseAmt}}" ngModel class="form-control">
                  </div>
                </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input">Payment Mode</label>
                <div class="col-md-9">
                  <select class="form-control" name="paymentMode" ngModel >
                    <option>--Select Mode--</option>
                    <option value="Cash">Cash</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Online">Online</option>
                  </select>
                </div>
              </div>
               
            <div class="card-footer">
              <button type="button" (click)="makeLoanPayment(form.value)"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Make Payment</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>
          </div>
      
      </div>
     
    </div>

  </div><!--/.row-->
 
</div>
