<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Account Detail</strong> 
        </div>
        <div class="card-body">
         <!--
          <div class="form-group row">
              <label class="col-md-3 col-form-label">Customer</label>
              <div class="col-md-9">
                <select class="form-control" name="custId" ngModel (change)="onCustomerChange($event.target.value)">
                  <option>--Select Customer--</option>
                  <option *ngFor="let customer of allCustomerList" value="{{customer.custId}}">{{customer.fullName}}</option>
                </select>
              </div>
            </div>
            -->
            <div class="row">
                <div class="form-group col-sm-3">
                  <label for="email-input">Account Number</label>
                  <input type="text" name="loanAccNo" ngModel  (blur)="getAccountDetail($event.target.value)"  class="form-control" placeholder="Loan Account No....">
              </div>
              <div class="form-group col-sm-4">
               <label for="email-input">Customer Name</label>
               <input type="text" name="custFullName" value="{{loanDetail.custFullName}}" ngModel class="form-control" readonly>
              </div>
            <!--  <div class="form-group col-sm-2">
                  <label  for="email-input">Principal Amount</label>
                  <input type="text" name="loanAmt" value="{{loanDetail.principalAmount}}" ngModel class="form-control" readonly>
                </div>
                <div class="form-group col-sm-2">
                    <label for="email-input">Loan Amount</label>
                    <input type="text" name="principalAmount" value="{{loanDetail.loanAmt}}" ngModel class="form-control" readonly>
                  </div>-->
                  <div class="form-group col-sm-2">
                      <label for="email-input">Installment Amount</label>
                      <input type="text" name="installmentAmount" value="{{loanDetail.installmentAmount}}"  ngModel class="form-control" readonly>
                  </div>
                  <div class="form-group col-sm-2">
                    <label for="email-input">Total Collection</label>
                     <input type="text" name="shortName" value="{{loanDetail.totalCollection}}" ngModel class="form-control" readonly>
                  </div>
            </div>
          
          
            <div class="card-header">
              <strong>Add Installment</strong>
            </div>
           
              <div class="card">
                <form #form="ngForm" class="form-horizontal">
                <div class="card-body">
                 
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Collection Amount</label>
                      <div class="col-md-9">
                        <input type="text" name="payment"  class="form-control" ngModel placeholder="Amount.....">
                      </div>
                    </div>
                   
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hf-email">Collection Date</label>
                        <div class="col-md-9">
                          <input class="form-control" id="date-input" value="{{currDate|date:'dd/MM/yyyy'}}" type="date" name="paymentDate" ngModel>
                        </div>
                    </div>

              </div>
        
            <div class="card-footer">
              <button type="button" (click)="addCustomerPayment(form.value)"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
          </form>
      </div>
        </div>
       
      </div>
     
    </div>

  </div><!--/.row-->
 
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Collection Detail
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
               
               
                <th>Collection Amount</th>
                <th>Collection Type</th>
                <th>Collection Date</th>
              
               
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loanPaymentDetail of loanPaymetDetails">
              
                <td>{{loanPaymentDetail.payment}}</td>
                <td>{{loanPaymentDetail.paymentMethod}}</td>
                <td>{{loanPaymentDetail.paymentDate}}</td>
              </tr>
            </tbody>
          </table>
         
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
